**/node_modules
**/package-lock.json
**/__pycache__
/code/database/resources/coordenadas
/code/database/resources/coordenadas.txt
/code/database/resources/distancias
/code/database/resources/distancias.txt
/code/database/resources/distancias-unparsed.txt
/code/database/db/database.sqlite3
/code/database/db/database.sqlite3-journal